body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #00B7FF;
}
.gares-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
aside{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
