extends layout

block content
  h1 Les gares du Grand Lyon
  
  .gares-container
    each gare in gares
      aside
        h3 #{gare.nom} 
        .boutons
          input(class="update" type="submit", value="Modifier" data-id="#{gare._id}" data-name="#{gare.nom}")
          input(class="delete" type="submit", value="Supprimer" data-id="#{gare._id}")  

      
      
  h2 Entrer une nouvelle gare
  form(method="post" action="/api/" id="addGare")
      label(for="name") Nom de la Gare
      input(type="text", class="form-control", id="name", name="name", placeholder="Nom de la Gare")
      input(type="text" class="form-control", id="siret" placeholder="SIRET" name="siret")
      input(type="text" class="form-control", id="idexterne" placeholder="idexterne" name="idexterne")
      input(type="text" class="form-control", id="gid" placeholder="gid" name="gid")
      input(type="text" class="form-control", id="identifiant" placeholder="Identifiant" name="identifiant")

      input(type="submit", class="insert" value="Ajouter")
